body {
	overflow: hidden;
}

.close-button {
	position: absolute;
	top: 1em;
	right: 1em;
	width: 3vh;
	height: 3vh;
	z-index: 100;
}
.close-button:hover {
	cursor: pointer;
}

#logo {
	position: absolute;
	width: 20vw;
	height: 20vw;
	top: calc(50% - 50vh);
	left: calc(50% - 10vw);
	opacity: 0.75;
}

.title {
	position: absolute;
	text-align: center;
}

#home .title {
   position: absolute;
   text-align: center;
   width: 100%;
   height: auto;
   top: calc(50% - 10vh);
   overflow: hidden;
}

.panel {
	position: absolute;
}

.panel.product {
	top: 65%;
	left: 15%;
	width: 20vh;
	height: 20vh;
	transform: translate(-50%, -50%);
	margin: auto;
	text-align: center;
	display: -webkit-flex; /* Safari */
	-webkit-align-items: center; /* Safari 7.0+ */
	display: flex;
	align-items: center;
	justify-content: center;
}

.panel.about {
	top: 80%;
	left: 50%;
	width: 20vh;
	height: 20vh;
	transform: translate(-50%, -50%);
	margin: auto;
	text-align: center;
	display: -webkit-flex; /* Safari */
	-webkit-align-items: center; /* Safari 7.0+ */
	display: flex;
	align-items: center;
	justify-content: center;
}

.panel.contacts {
	top: 65%;
	left: 85%;
	width: 20vh;
	height: 20vh;
	transform: translate(-50%, -50%);
	margin: auto;
	text-align: center;
	display: -webkit-flex; /* Safari */
	-webkit-align-items: center; /* Safari 7.0+ */
	display: flex;
	align-items: center;
	justify-content: center;
}

.outerCircle {
	position: absolute;
	padding: 0px;
	margin: 0;
	width: 23vw;
	height: 23vw;
}

.innerCircle {
	position: absolute;
	padding: 0px;
	margin: 0;
	width: 21vw;
	height: 21vw;
}

.grid-container-2-by-2 {
	display: grid;
	grid-template-columns: calc(50% - 2vw) calc(50% - 2vw);
	grid-template-rows: 1fr 1fr;
	margin: 0px;
	padding: 0px;
	justify-items: center;
	align-items: center;
	justify-content: center;
	align-content: stretch;
}
.grid-item {
	margin: 0px;
	padding: 0px;
	width: 100%;
	text-align: center;
}

#about {
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	margin: auto;
	width: 100%;
	height: 100%;
	display: grid;
	overflow-y: auto;
}
#about .title {
	position: relative;
	display: block;
	text-align: center;
}

#contacts {
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	margin: auto;
	width: 100%;
	height: 100%;
	overflow-y: auto;
}
#contacts .panel {
	position: relative;
	display: block;
	text-align: left;
	margin: 1vw;
	padding: 0px;
	width: calc(100% - 2vw);
	height: calc(50% - 2vw);
}
#contacts .panel .profile {
	position: absolute;
	display: inline-block;
	margin: auto;
	padding: 0px;
	text-align: center;
	width: 100%;
	height: 80%;
}
#contacts .panel .profile img {
	position: relative;
	display: inline-block;
	padding: 0px;
	width: auto;
	height: 80%;
}
#contacts .panel .profile .title {
	position: relative;
	margin-top: 1vh;
	padding: 2px;
	height: auto;
}
#contacts .panel .info {
	position: absolute;
	display: inline-block;
	padding: 0px;
	bottom: 0px;
	width: 100%;
	height: auto;
}
