<div id="logo">
	<img src='../images/logo.png' style="width:100%;height:100%">
</div>
<div id="home">{{title}}</div>
<div class="icon"></div>
<div class="panel product" ng-click="enterProduct()">{{productText}}
	<div class="outerCircle"></div>
	<div class="innerCircle"></div>
</div>
<div class="panel about" ng-click="enterAbout()">{{aboutText}}
	<div class="outerCircle"></div>
	<div class="innerCircle"></div>
</div>
<div class="panel contacts" ng-click="enterContacts()">{{contactsText}}
	<div class="outerCircle"></div>
	<div class="innerCircle"></div>
</div>